runpod==1.7.0
diffusers==0.31.0
transformers==4.44.2
accelerate==0.33.0
safetensors==0.4.5
sentencepiece==0.2.0
protobuf==5.28.0
ftfy==6.2.3
imageio==2.35.1
imageio-ffmpeg==0.5.1
huggingface_hub==0.24.6